<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span class="mx-lg-4 ">
        <a asp-controller="Login" asp-action="Index">
            <i class="fas fa-lock"></i> Yazar Girişi
        </a>
    </span>
    <span class="mx-md-2  mx-1">
        <a asp-controller="RegisterUser" asp-action="Index">
            <i class="far fa-user"></i> Yazar Kayıt Ekranı
        </a>
    </span>
    <span class="mx-md-2  mx-1">
        <a asp-controller="Dashboard" asp-action="Index">
            <i class="far fa-user"></i> Yazar Templati
        </a>
    </span>
</div>
